@model TodoList.Models.Tache

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-12 card text-center p-0">
        <div class="card-header">
            <h1>Création</h1>
        </div>
        <div class="card-body">
            <div class="row d-flex flex-column justify-content-center">
                    @Html.Partial("FormCreate");           
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" form="formCreateTask"/>
                    </div>
                    <a asp-action="Index">Back to List</a>
            </div>
        </div>
        <footer class="card-footer text-muted">
                <div class="container">
                    &copy; 2020 - TodoList - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
        </footer>
    </div>
</div>
